body {
  background: rgb(177, 140, 207);
  text-align: center;

}
 
h1 {
  text-align: center;

}
/*
   position: absolute;
   position: fixed;
   position: sticky;
*/
h2 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
h3 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

.menuPrincipal {
  position: absolute; 
  background: rgb(169, 60, 184);
  width: 100%;
  height: 45px;
  top: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: flex;
  color: rgb(46, 24, 75);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
.BoxImage {
  width: 1250px;
  height: 350px;
  background:rgba(173, 8, 238, 0.918);
  top: 45px;
  left: 0;
  margin: 20px;
  border-color: rgb(101, 30, 167);
  border-width: 10px;
  border-style: groove;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.rodape {
  position: absolute;
  width: 100%;
  height: 50px;
  color:rgb(237, 228, 247) ;
  background:rgb(42, 22, 61);
  left: 0;
  bottom: 0px;
  display: flex;
  justify-content: center;
}
.conteudoHome{
  position: absolute;
  top: 45px;
}

#yamaguchi {
  position: left;
  left: 303%; 
  height: 100%;
  

}
#HAIKYUU {
  height: 500px;
  width: 600px;
  position: absolute ;
  top: 50px;
  left: 150%;
}
#oikawa {
  position: left;
  left: 303%;
  height: 350px;
}
#hina {
  position: left;
  left: 303%;
  height: 300px;
}
.pagina01 {
  position: left ;
  color: black;
  height: 30px;
}
.pagina03 {
  position: left;
  color: black;
  height: 30px;
}
